h1{
            color: darkgray;
            font-size: 65px;
            font-weight: 100;
            line-height: 0;
        }
        p{
            
        }
        
        body{
            font-family: sans-serif;
            font-size: 20;
            background-color: #E3E5E7; 
            
            margin-left: 250px;
            margin-right: 250px;
            margin-top: 100px;   
        }
        
        ul{
            padding: 9px;
            list-style: none;
            background-color: none;
        }
        ul li{
            display: inline-block;
            position: relative;
            line-height: 10px;
            text-align: left;
            font-size: 18px;
        }
        ul li a{
            display: block;
            padding: 10px;
            color: #333;
            text-decoration: none;
            
        }
        ul li a:hover{
            color: lightblue;
            background: #939393;
        }
        ul li ul.dropdown{
            min-width: 125px; 
            background-color: white;
            display: none;
            position: absolute;
            z-index: 999;
            left: 0;
        }
        ul li:hover ul.dropdown{
            display: block;	
        }
        ul li ul.dropdown li{
            display: block;
        }